.comic-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comic-list {
  margin: 60px;
  margin-top: 5px;
  padding: 30px;
  padding-bottom: 6vw;
  width: calc(100% - 120px);
  height: fit-content;
  background: #c362ffa0;
  border: 2px solid var(--magenta);
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 22vh;
  justify-content: center;
  z-index: 0;
}

.comic-card {
  width: 180px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: white;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.comic-card:hover {
  transform: scale(1.05);
}

.comic-cover {
  width: 100%;
  height: auto;
  display: block;
}

.comic-title {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}