<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Home</title>
</head>

<body>
    <video class="background-video" playbackRate=2 autoplay loop muted poster="/background-poster.png">
        <source src="/nav-background3.webm" type="video/mp4">
    </video>
    <header>
        <div class="logo-container">
            <a href="#home">
                <h1 class="logo">
                    <span>Comic</span>
                    <span>World</span>
                </h1>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#">All Comics</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Register</a>
                </li>
                <li>
                    <a href="#">Contacts</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section-container">
            <div class="title-container">
                <h1>Newest comics</h1>
            </div>
            <div class="list-container">
                <ul>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Aliens - More than Human-000.jpg" class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Aliens</h4>
                                    <p class="comic-slogan">
                                        More than Human
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/American Vampire v7-000.jpg" class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">American Vampire</h4>
                                    <p class="comic-slogan">
                                        v7
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Assassin's Creed Valhalla - Song of Glory-0000.jpg"
                                        class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Assassin's Creed Valhalla</h4>
                                    <p class="comic-slogan">
                                        Song of Glory
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Birthright-Vol--8--Live-By-The-Sword.jpg"
                                        class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Birthright</h4>
                                    <p class="comic-slogan">
                                        Live By The Sword
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Predator - Prey to the Heavens-000.jpg"
                                        class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Predator</h4>
                                    <p class="comic-slogan">
                                        Prey to the Heavens
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section-container">
            <div class="title-container">
                <h1>Newest comics</h1>
            </div>
            <div class="list-container">
                <ul>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Aliens - More than Human-000.jpg" class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Aliens</h4>
                                    <p class="comic-slogan">
                                        More than Human
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/American Vampire v7-000.jpg" class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">American Vampire</h4>
                                    <p class="comic-slogan">
                                        v7
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Assassin's Creed Valhalla - Song of Glory-0000.jpg"
                                        class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Assassin's Creed Valhalla</h4>
                                    <p class="comic-slogan">
                                        Song of Glory
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Birthright-Vol--8--Live-By-The-Sword.jpg"
                                        class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Birthright</h4>
                                    <p class="comic-slogan">
                                        Live By The Sword
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Predator - Prey to the Heavens-000.jpg"
                                        class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Predator</h4>
                                    <p class="comic-slogan">
                                        Prey to the Heavens
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section-container">
            <div class="title-container">
                <h1>Newest comics</h1>
            </div>
            <div class="list-container">
                <ul>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Aliens - More than Human-000.jpg" class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Aliens</h4>
                                    <p class="comic-slogan">
                                        More than Human
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/American Vampire v7-000.jpg" class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">American Vampire</h4>
                                    <p class="comic-slogan">
                                        v7
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Assassin's Creed Valhalla - Song of Glory-0000.jpg"
                                        class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Assassin's Creed Valhalla</h4>
                                    <p class="comic-slogan">
                                        Song of Glory
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Birthright-Vol--8--Live-By-The-Sword.jpg"
                                        class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Birthright</h4>
                                    <p class="comic-slogan">
                                        Live By The Sword
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-container">
                        <div class="main-container">
                            <div class="cover-container">
                                <a href="#"><img src="/media/Predator - Prey to the Heavens-000.jpg"
                                        class="cover" /></a>
                            </div>
                            <div class="price-container">
                                <div class="price-content">
                                    <h4 class="comic-title">Predator</h4>
                                    <p class="comic-slogan">
                                        Prey to the Heavens
                                    </p>
                                    <p class="current-price">$28.00</p>
                                    <p class="old-price">$44.99</p>
                                    <button class="buy-btn">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>

</html>