.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}

.pagination button {
  flex: 1 0;
  padding: 12px 8px;
  max-width: 8vw;
  cursor: pointer;
  border: 2px solid #307fff;
  background-color: #2bb6d5;
  color: #fd8750;
  border-radius: 50px;
  text-shadow: #421906 1.3px 1.2px 1px;
  margin: 5px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.pagination button:hover {
  text-shadow: 0 0 10px var(--yelow), 0 0 20px var(--yelow), 0 0 30px var(--yelow);
}

.pagination button:active {
  transition: all 0.1s;
  color: var(--magenta);
  text-shadow: 0 0 10px var(--yelow), 0 0 20px var(--yelow), 0 0 30px var(--yelow);
  box-shadow: none;
}

.pagination button:disabled {
  color: #fd8750;
  background-color: #ccc;
  border-color: antiquewhite;
  cursor: not-allowed;
  text-shadow: none;
}