.star {
    display: none;
}

.star-label {
    width: 20%;
    aspect-ratio: 1;
    cursor: pointer;
}

.star-label .star-stroke {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: var(--magenta);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-label .star-stroke .star-fill {
    width: 70%;
    aspect-ratio: 1;
    background: var(--black);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star:hover~.star-label .star-stroke,
.star:checked~.star-label .star-stroke {
    background: var(--yelow);
}

.star:checked~.star-label .star-stroke .star-fill {
    background: var(--yelow);
}

.star-label:hover .label-description::after {
    content: attr(data-content);
    position: fixed;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 100%;
    height: 2em;
    color: var(--blue);
    text-shadow:  #421906 1.3px 1.2px 1px;
    text-align: center;
    font-size: 2rem;
    transform: rotateY(180deg);
}