.container {
	margin: 8% auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

}

.form-container {
	width: 25vw;
	height: 60vh;
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 5px 20px 50px #000;
}

.change {
	display: none;
}

.signup {
	position: relative;
	width: 100%;
	height: 100%;
}

.signup form,
.login form {
	padding: 30px;
	width: 100%;
	height: 100%;
	background: #87e3ff8e;
	border: 2px solid var(--magenta);
	border-radius: 12px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	display: flex;
	flex-direction: column;
	gap: 25px;
	justify-content: flex-start;
	align-items: center;
	z-index: 0;
	backdrop-filter: blur(10px);
}

.changer {
	color: var(--orange);
	text-transform: uppercase;
	font-weight: 700;
	font-size: calc(1em + min(65px, 2vw));
	text-align: center;
	text-shadow: 2px 3px var(--black);
	paint-order: stroke fill;
	-webkit-text-stroke: 2px var(--orange);
	letter-spacing: -.170ch;
	line-height: 0.8;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.inactive-label {
	pointer-events: none;
	cursor: default;
}

.field-container {
	position: relative;
	display: flex;
	align-items: end;
	gap: 20px;
}

.input-field {
	background: var(--blue);
	font-size: 22px;
	font-weight: bold;
	padding: 10px 10px 10px 5px;
	display: block;
	border: 2px solid var(--magenta);
	border-radius: 12px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.input-field~label {
	color: #fd8750;
	text-shadow: #421906 1.3px 1.2px 1px;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active state */
.input-field:focus~label,
.input-field:valid~label {
	top: -20px;
	font-size: 18px;
	color: black;
	text-shadow: #575656 1.2px 1.2px 1px;
	/* background: #ffe262e5; */
	border-radius: 2px;
	line-height: 1em;
}

.submit-btn {
	background: var(--magenta);
	border: 1.3px solid #8d578a;
	cursor: pointer;
	padding: 8px 6px;
	width: fit-content;
	height: fit-content;
	border-radius: 8px;
	color: whitesmoke;
	text-transform: uppercase;
	text-shadow: 1.5px 2px rgb(56, 55, 58);
	font-weight: bold;
	letter-spacing: 1.6px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
	transition: all 0.15s ease;
}

.submit-btn:hover {
	text-shadow: 0 0 10px var(--yelow), 0 0 20px var(--yelow), 0 0 30px var(--yelow);
}

.submit-btn:active {
	text-shadow: 0 0 10px var(--yelow), 0 0 20px var(--yelow), 0 0 30px var(--yelow);
	box-shadow: none;
}

.login {
	height: 60vh;
	background: var(--blue);
	border-radius: 90% / 20%;
	transform: translateY(-8vh);
	transition: .8s ease-in-out;
}

.login form {
	backdrop-filter: none;
	border: none;
	background: none;
	box-shadow: none;
}

.login .changer {
	color: var(--magenta);
	transform: scale(.6);
	-webkit-text-stroke: 2px var(--magenta);
}

.login .input-field {
	background: whitesmoke;
}

.change:checked~.login {
	transform: translateY(-52vh);
}

.change:checked~.login .changer {
	transform: scale(1);
}

.change:checked~.signup .changer {
	transform: scale(.6);
}