.logo-container {
    flex: 0 1 45vw;
    align-items: center;
    height: 100%;
    margin-top: 1.5vh;
    margin-left: 3vw;
}

.logo {
    color: #ff9462;
    paint-order: stroke fill;
    text-transform: uppercase;
    font-size: calc(1em + min(95px, 15vw));
    font-weight: 900;
    letter-spacing: -.175ch;
    line-height: 0.9;
    -webkit-text-stroke: 5px #c362ff;
    text-shadow: 8px 8px #c362ff;
    transition: all 0.5s;
}

.logo:hover {
    text-shadow: 0 0 10px #ffe262, 0 0 20px #ffe262, 0 0 30px #ffe262;
}

@media screen and (max-width: 1080px) {
    .logo {
        font-size: calc(1em + min(35px, 15vw));
        text-shadow: 5px 5px #c362ff;
    }
}