.section-container {
    margin: 60px;
    margin-top: 80px;
    padding: 30px;
    padding-bottom: 7vw;
    width: calc(100% - 120px);
    min-height: 19vw;
    background: #87e3fff4;
    border: 2px solid #c362ff;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    z-index: 0;
}

.title-container {
    flex: 0 1 calc(30% - 7px);
    align-content: center;
    justify-self: center;

    & .section-title {
        margin-top: 4vw;
        text-transform: uppercase;
        font-weight: 800;
        font-size: calc(1em + min(65px, 5vw));
        text-align: center;
        color: #ffe262;
        text-shadow: 5px 5px #ff9462;
        paint-order: stroke fill;
        -webkit-text-stroke: 3px #ff9462;
        letter-spacing: -.160ch;
        line-height: 0.8;
    }
}

.list-container {
    flex: 0 1 calc(70% - 8px);
    flex-wrap: wrap;
}

.list {
    display: flex;
    /* flex-wrap: wrap; */
}